<div ng-switch-when="hill_dwarf">
  <p>I AM HILL DWARF</p>
  <input type="hidden" name="race" value="hill_dwarf">
  <p>Hill Dwaves get +2 constitution and +1 Wisdom</p>
  <input type="hidden" name="racAbilBon[b1][attr]" value="con">
  <input type="hidden" name="racAbilBon[b1][bonus]" value=2>
  <input type="hidden" name="racAbilBon[b2][attr]" value="wis">
  <input type="hidden" name="racAbilBon[b2][bonus]" value=1>
  <p>Hill Dwarves Have a walking speed of 25 feet</p>
  <input type="hidden" name="speed" value="25">
  <p>Their speed is not reduced by wearing heavy armor</p>
  <input type="hidden" name="racFeatu[textOnly]" value="Speed not reduced by heavy armor">
</div>
<div ng-switch-when="mtn_dwarf">
  <p>I AM mtn DWARF</p>
  <input type="hidden" name="race" value="mtn_dwarf">
</div>
<div ng-switch-when="high_elf">
  <p>I AM high_elf</p>
  <input type="hidden" name="race" value="high_elf">
</div>
<div ng-switch-when="wood_elf">
  <p>I AM wood elf</p>
  <input type="hidden" name="race" value="wood_elf">
</div>
<div ng-switch-when="dark_elf">
  <p>I AM dark_elf</p>
  <input type="hidden" name="race" value="dark_elf">
</div>
<div ng-switch-when="lf_halfling">
  <p>I AM lf_halfling</p>
  <input type="hidden" name="race" value="lf_halfling">
</div>
<div ng-switch-when="stout_halfling">
  <p>I AM stout_halfling</p>
  <input type="hidden" name="race" value="stout_halfling">
</div>
<div ng-switch-when="human">
  <p>I AM human</p>
  <input type="hidden" name="race" value="human">
</div>
<div ng-switch-when="dragonborn">
  <p>Choose a draconic ancestry</p>
  <select ng-model="ctrl.selectedDragonbornType">
    <option ng-repeat="dragonbornType in ctrl.dragonborn_types" value="{{dragonbornType}}">
        {{dragonbornType}}
    </option>
  </select>
  <p>I AM a {{ctrl.selectedDragonbornType}} dragonborn</p>
  <input type="hidden" name="race" value="dragonborn">
  <input type="hidden" name="dragonborn_type" value="{{ctrl.selectedDragonbornType}}">
</div>
<div ng-switch-when="forest_gnome">
  <p>I AM forest_gnome</p>
  <input type="hidden" name="race" value="forest_gnome">
</div>
<div ng-switch-when="rock_gnome">
  <p>I AM rock_gnome</p>
  <input type="hidden" name="race" value="rock_gnome">
</div>
<div ng-switch-when="half_elf">
  <p>I AM half_elf</p>
  <input type="hidden" name="race" value="half_elf">
</div>
<div ng-switch-when="half_orc">
  <p>I AM half_orc</p>
  <input type="hidden" name="race" value="half_orc">
</div>
<div ng-switch-when="tiefling">
  <p>I AM tiefling</p>
  <input type="hidden" name="race" value="tiefling">
</div>