<div ng-switch-when="hill-dwarf">
  <p>I AM HILL DWARF</p>
  <input type="hidden" name="race" value="hill-dwarf">
</div>
<div ng-switch-when="mtn-dwarf">
  <p>I AM mtn DWARF</p>
  <input type="hidden" name="race" value="mtn-dwarf">
</div>
<div ng-switch-when="high-elf">
  <p>I AM high-elf</p>
  <input type="hidden" name="race" value="high-elf">
</div>
<div ng-switch-when="wood-elf">
  <p>I AM wood elf</p>
  <input type="hidden" name="race" value="wood-elf">
</div>
<div ng-switch-when="dark-elf">
  <p>I AM dark-elf</p>
  <input type="hidden" name="race" value="dark-elf">
</div>
<div ng-switch-when="lf-halfling">
  <p>I AM lf-halfling</p>
  <input type="hidden" name="race" value="lf-halfling">
</div>
<div ng-switch-when="stout-halfling">
  <p>I AM stout-halfling</p>
  <input type="hidden" name="race" value="stout-halfling">
</div>
<div ng-switch-when="human">
  <p>I AM human</p>
  <input type="hidden" name="race" value="human">
</div>
<div ng-switch-when="dragonborn">
  <p>Choose a draconic ancestry</p>
  <select ng-model="chars.selectedDragonbornType">
    <option ng-repeat="dragonbornType in chars.dragonborn_types" value="{{dragonbornType}}">
        {{dragonbornType}}
    </option>
  </select>
  <p>I AM a {{chars.selectedDragonbornType}} dragonborn</p>
  <input type="hidden" name="race" value="dragonborn">
  <input type="hidden" name="dragonborn_type" value="{{chars.selectedDragonbornType}}">
</div>
<div ng-switch-when="forest-gnome">
  <p>I AM forest-gnome</p>
  <input type="hidden" name="race" value="forest-gnome">
</div>
<div ng-switch-when="rock-gnome">
  <p>I AM rock-gnome</p>
  <input type="hidden" name="race" value="rock-gnome">
</div>
<div ng-switch-when="half-elf">
  <p>I AM half-elf</p>
  <input type="hidden" name="race" value="half-elf">
</div>
<div ng-switch-when="half-orc">
  <p>I AM half-orc</p>
  <input type="hidden" name="race" value="half-orc">
</div>
<div ng-switch-when="tiefling">
  <p>I AM tiefling</p>
  <input type="hidden" name="race" value="tiefling">
</div>