<input type="hidden" name="char_race" value="Half Orc">
<p>Half Orcs get +2 strength and +1 constitution</p>
<input type="hidden" name="abilBon1[attr]" value="str">
<input type="hidden" name="abilBon1[bonus]" value="2">
<input type="hidden" name="abilBon2[attr]" value="con">
<input type="hidden" name="abilBon2[bonus]" value="1">
<p>Half Orcs Have a walking speed of 30 feet</p>
<input type="hidden" name="speed" value="30">
<p>They have darkvision</p>
<input type="hidden" name="features" value="Darkvision">
<p>They are naturally proficient in Intimidation</p>
<input type="hidden" name="skills" value="Intimidation">

<p>They have Relentless Endurance (when they are reduced to 0 hitpoints but not killed outright, they drop to 1 hit point instead. They can't do this again until they finish a long rest</p>
<input type="hidden" name="features" value="Relentless Endurance">

<p>They have Savage Attacks (when they roll a critical hit, they can roll an extra damade die)</p>

<input type="hidden" name="features" value="Savage Attacks">

<p>You are proficient in both Common and Orc</p>
<input type="hidden" name="prof[lang]" value="Common">
<input type="hidden" name="prof[lang]" value="Orc">
