<input type="hidden" name="char_race" value="Half-Elf">
<p>High Elves get +2 Dexterity and +1 to two abilities of your choice</p>
<input type="hidden" name="abilBon1[attr]" value="dex">
<input type="hidden" name="abilBon1[bonus]" value="2">
<input type="hidden" name="abilBon2[attr]" value="choose">

<select
  name="abilBon3[attr]"
  ng-model="halfElfChoice1" 
  ng-options="attr as attr for attr in ctrl.attrNames track by attr">
</select>
<input type="hidden" name="abilBon3[bonus]" value="1">
<select
  name="abilBon4[attr]" 
  ng-model="halfElfChoice2"
  ng-options="attr as attr for attr in ctrl.attrNames track by attr">
</select>
<input type="hidden" name="abilBon4[bonus]" value="1">

<p>High Elves Have a walking speed of 30 feet</p>
<input type="hidden" name="speed" value="30">
<p>They have darkvision</p>
<input type="hidden" name="features" value="Darkvision">
<p>They have Fey Ancestry (advantage on saving throws against being charmed, and cannot be put to sleep with magic)</p>
<input type="hidden" name="features" value="Fey Ancestry">

<p>They gain proficiency in two skills of your choice.</p>

<select 
  ng-options="skills as skills for skills in ctrl.all_skills track by skills"
  ng-model="ctrl.haElfSkills"
  name="skills"
  multiple>
</select>

<p>They are proficient in both Common and Elvish and an extra language of your choice.</p>
<input type="hidden" name="prof[lang]" value="Common">
<input type="hidden" name="prof[lang]" value="Elvish">
<select
  name="prof[lang]"
  ng-model="ctrl.selHaElvLang"
  ng-options="languages as languages for languages in ctrl.languages track by languages">
</select>