<input type="hidden" name="char_race" value="Human">
<p>Humans get +1 of every ability</p>
<input type="hidden" name="abilBon1[attr]" value="all">
<input type="hidden" name="abilBon1[bonus]" value="1">
<p>Humans have a walking speed of 30 feet</p>
<input type="hidden" name="speed" value="30">
<p>They are proficient in both Common and a language of your choice</p>
<input type="hidden" name="prof[lang]" value="Common">
<select
  name="prof[lang]"
  ng-model="ctrl.selHumanLang"
  ng-options="languages as languages for languages in ctrl.languages track by languages">
</select>