<input type="hidden" name="char_race" value="Rock Gnome">
<p>Rock Gonmes get +2 Intelligence and +1 Constitution</p>
<input type="hidden" name="abilBon1[attr]" value="int">
<input type="hidden" name="abilBon1[bonus]" value="2">
<input type="hidden" name="abilBon2[attr]" value="con">
<input type="hidden" name="abilBon2[bonus]" value="1">
<p>Rock Gonmes have a walking speed of 25 feet</p>
<input type="hidden" name="speed" value="25">
<p>They have Darkvision.</p>
<input type="hidden" name="features" value="Darkvision">
<p>They have Gnomish Cunning (Advantage on all Intelligence, Wisdom, and Charisma saving throws against magic)</p>
<input type="hidden" name="features" value="Gnomish Cunning">

<p>They know Artificer's Lore (when they make History checks related to magic items, alchemy, or technology, they double their proficiency bonus.)</p>

<input type="hidden" name="features" value="Artificer's Lore">

<p>They are proficient in both Common and Gnomish</p>
<input type="hidden" name="prof[lang]" value="Common">
<input type="hidden" name="prof[lang]" value="Gnomish">

<p>They have proficiency with Tinker's tools. With them, they can Tinker (can make Clockwork toys, lighters, and music boxes.)</p>
<input type="hidden" name="prof[tool]" value="Tinker's Tools">
<input type="hidden" name="features" value="Tinker">