<input type="hidden" name="char_race" value="Stout Halfling">
<p>Stout Halflings get +2 Dexterity and +1 Constitution</p>
<input type="hidden" name="abilBon1[attr]" value="dex">
<input type="hidden" name="abilBon1[bonus]" value="2">
<input type="hidden" name="abilBon2[attr]" value="con">
<input type="hidden" name="abilBon2[bonus]" value="1">
<p>Stout Halflings have a walking speed of 25 feet</p>
<input type="hidden" name="speed" value="25">
<p>They are Lucky (whenever you roll to attack, to save, or on an ability check, you can reroll the die if you get a 1.)</p>
<input type="hidden" name="features" value="Lucky">
<p>They are Brave (advantage on saving throws against being frightened)</p>
<input type="hidden" name="features" value="Brave">
<p>They have Halfling Nimbleness (they can move through the space of any creature of medium size or larger.)</p>
<input type="hidden" name="features" value="Halfling Nimbleness">

<p>They have Stout Resilience (they have advantage on saving throws against poison and reistance to poison damage)</p>

<input type="hidden" name="features" value="Stout Resilience">

<p>They are proficient in both Common and Halfling</p>
<input type="hidden" name="prof[lang]" value="Common">
<input type="hidden" name="prof[lang]" value="Halfling">