<input type="hidden" name="char_race" value="Tiefling">
<p>Tieflings get +2 Charisma and +1 Intelligence</p>
<input type="hidden" name="abilBon1[attr]" value="cha">
<input type="hidden" name="abilBon1[bonus]" value="2">
<input type="hidden" name="abilBon2[attr]" value="int">
<input type="hidden" name="abilBon2[bonus]" value="1">
<p>Tieflings Have a walking speed of 30 feet</p>
<input type="hidden" name="speed" value="30">
<p>They Have darkvision</p>
<input type="hidden" name="features" value="Darkvision">
<p>They have Hellish Resistance (Bonuses against poison damage)</p>
<input type="hidden" name="features" value="Hellish Resistance">

<p>They know the Thurmaturgy Cantrip.</p>
<input type="hidden" name="cantrips" value="Thurmaturgy">
<p>You are proficient in both Common and Infernal</p>
<input type="hidden" name="prof[lang]" value="Common">
<input type="hidden" name="prof[lang]" value="Infernal">

