<input type="hidden" name="char_race" value="Wood Elf">
<p>Wood Elves get +2 Dexterity and +1 Wisdom</p>
<input type="hidden" name="abilBon1[attr]" value="dex">
<input type="hidden" name="abilBon1[bonus]" value="2">
<input type="hidden" name="abilBon2[attr]" value="wis">
<input type="hidden" name="abilBon2[bonus]" value="1">
<p>Wood Elves have a walking speed of 35 feet</p>
<input type="hidden" name="speed" value="35">
<p>They Have darkvision</p>
<input type="hidden" name="features" value="Darkvision">
<p>They have Keen Senses (Proficiency in perception by default)</p>
<input type="hidden" name="skill" value="Perception">
<p>They have Fey Ancestry (advantage on saving throws against being charmed, and cannot be put to sleep with magic)</p>
<input type="hidden" name="features" value="Fey Ancestry">

<p>They trance (meditate) instead of sleeping, and only require 4 hours instead of 8 per day.</p>

<input type="hidden" name="features" value="Trance">

<p>They are profficient in both Common and Elvish</p>
<input type="hidden" name="prof[lang]" value="Common">
<input type="hidden" name="prof[lang]" value="Elvish">
<p>They are proficient with the shortsword, shortbow, and longbow.</p>
<input type="hidden" name="prof[wep]" value="Shortsword">
<input type="hidden" name="prof[wep]" value="Shortbow">
<input type="hidden" name="prof[wep]" value="Longbow">
<p>They have Mask of the Wild (they can attempt to hide even when they are only lightly obscured by nature like foliage or rain)</p>
<input type="hidden" name="features" value="Mask of the Wild">