<!DOCTYPE html>
<html>
<head>
  <title>Instructions</title>
  <script type="text/javascript" src="/jquery/dist/jquery.min.js"></script>
  <script type="text/javascript" src="/angular/angular.min.js"></script>
  <script type="text/javascript" src="/app.js"></script>
  <script type="text/javascript" src="/chars_controller.js"></script>
  <link rel="stylesheet" type="text/css" href="splash.css">
</head>
<body>
  <div class="intro">
    <p>The fun of Dungeons and Dragons is how limitless it can be, but this is also what makes it so hard to start. This guide will attempt to help you create a first level character to play with, and know how to to do so. This guide will talk about a few attributes that will be introduced to you at first level that will scale as you play longer, but whenever possible anything past first level has been taken away. I have tried to pre-empt any questions you may have with explainations, but the fact is right now you're about to try to make a character without first reading the massive book(s) supposedly required to play. That's okay! You're going to learn by playing and it's going to be fun. That being said, you should most likely have a copy of the book on hand while you make a character to look up things in the glossary.</p>
    <p>Before we start, take a while and try to imagine the type of character you want to be in broad strokes. Maybe talk with someone who you are going to be playing with, or ask the person who will be running the game more about the background you are going to be stepping into. You can really be about anything, but I've done everything in my power to limit your choices here as much as possible to make it less overwhelming. Here is the order the guide is presented in, and you may find this helpful in thinking about creating a character. Please read the list fully, as decisions you want to make later might influence how you choose the beginning.</p>
  </div>
  <div class="step-container">
    <select 
      ng-options="race as race.fName for race in ctrl.races track by race.sName"
      ng-model="ctrl.selectedRace">
    </select>
  </div>
</body>
</html>