*{
  font-family: helvetica;
}
header, div{
  min-height: 20px;
  box-sizing: border-box;  
}
.container{
  background-color: grey;
  width: 90%;
  margin: 0 auto;
  border-radius: 5px;
}
header, .top-content, .main-content, .bottom-content{
  display: flex;
  justify-content: center;
}
.char-name{
  text-align: center;
}

.grid-1-3{
  width: 33%;
}

.grid-2-3{
  width: 66%
}
.info-box{
  background-color: white;
  border: 1px solid black;
  margin: 1px;
  border-radius: 25px;
  text-indent: 10px;
  padding: 1px;
}