<p>You are an acolyte</p>
<input type="hidden" name="char_background" value="acolyte">
<p>You are proficient for checks in insight and religion</p>
<input type="hidden" name="skill" value="Insight">
<input type="hidden" name="skill" value="Religion">
<p>You are proficient in two languages of your choice</p>
<select 
  ng-options="languages as languages for languages in ctrl.languages track by languages"
  ng-model="ctrl.bgLanguages"
  name="prof[lang]"
  multiple>
</select>
<p>You start with the following equipment: A holy symbol, a prayer book, 5 sticks of insense, vestiments, a set of common clothes, and an extra 15 gold.</p>
<input type="hidden" name="equip[gen]" value="Holy Symbol">
<input type="hidden" name="equip[gen]" value="Prayer Book">
<input type="hidden" name="equip[gen]" value="5 Sticks of Insense">
<input type="hidden" name="equip[clothes]" value="Common Clothes">
<input type="hidden" name="equip[clothes]" value="Vestiments">
<input type="hidden" name="equip[gold]" value="15">

<p>You gain the background feature "Shelter of the Faithful": you can command the respect of those who share your diety, and can expect to recieve free healing and care at temples of the same diety.</p>
<input type="hidden" name="features" value="Shelter of the Faithful">