<p>You are an Criminal</p>
<input type="hidden" name="char_background" value="Criminal">
<p>You are proficient for checks in Deception and Stealth</p>
<input type="hidden" name="skill" value="Deception">
<input type="hidden" name="skill" value="Stealth">
<p>You are proficient with both Gaming sets and Thieves' Tools</p>
<input type="hidden" name="prof[tools]" value="Gaming Sets">
<input type="hidden" name="prof[tools]" value="Thieve's Tools">
<p>You start with the following equipment: A crowbar, a set of dark common clothes including hood, and 15 gold.</p>
<input type="hidden" name="equip[clothes]" value="Set of Dark Clothes">
<input type="hidden" name="equip[gen]" value="Crowbar">
<input type="hidden" name="equip[gold]" value="15">

<p>You gain the background feature "Criminal Contact": You have a reliable and trustworthy contact who acts as your liason to a network of other criminals. You know how to get messages to and from your contact, even over great distances, speficially, you know the local messagers who can deliver messages for you.</p>
<input type="hidden" name="features" value="Criminal Contact">