<p>You are an Entertainer</p>
<input type="hidden" name="char_background" value="Entertainer">
<p>You are proficient for checks in Acrobatics and Performance</p>
<input type="hidden" name="skill" value="Acrobatics">
<input type="hidden" name="skill" value="Performance">
<p>You are proficient with both Disguise Kits and the musical instrument of your choice</p>
<input type="hidden" name="prof[tools]" value="Disguise Kits">
<input type="text" name="prof[tools]" placeholder="Musical Instrument">
<p>You start with the following equipment: A musical instrument of your choice, The favor of an admirer, and 15 gold.</p>
<input type="text" name="equip[tools]" placeholder="Musical Instrument">
<input type="hidden" name="equip[gen]" value="Favor of an Admirer">
<input type="hidden" name="equip[gold]" value="15">

<p>You gain the background feature "By Popular Demand": You can always find a place to perform, at such a place you recieve free lodging and food of a modest or comforttable standard. When people who have seen you perform see you, they recognize you.</p>
<input type="hidden" name="features" value="By Popular Demand">