<p>You are an Folk Hero</p>
<input type="hidden" name="char_background" value="Folk Hero">
<p>You are proficient for checks in Animal Handling and Survival</p>
<input type="hidden" name="skill" value="Animal Handling">
<input type="hidden" name="skill" value="Survival">
<p>You are proficient with both Artisan's tools and land vehicles.</p>
<input type="hidden" name="prof[tools]" value="Artisan's Tools">
<input type="hidden" name="prof[tools]" placeholder="Land Vehicles">
<p>You start with the following equipment: A set of artisan's tools, a shovel, an iron pot, a set of common clothes and 10 gold.</p>
<input type="hidden" name="equip[tools]" placeholder="Artisan's Tools">
<input type="hidden" name="equip[gen]" placeholder="Shovel">
<input type="hidden" name="equip[gen]" placeholder="Iron Pot">
<input type="hidden" name="equip[clothes]" value="Common Clothes">
<input type="hidden" name="equip[gold]" value="10">
<p>You gain the background feature "Rustic Hospitality": Since you come from the ranks of the common folk, you can fit in with them at ease. You can always find a place to hide or rest unless you are known to be a danger to them. They will sheild you from the law or anyone searching for you, but will not risk their lives.</p>
<input type="hidden" name="features" value="Rustic Hospitality">