<p>You are an Sailor</p>
<input type="hidden" name="char_background" value="Sailor">
<p>You are proficient for checks in Athletics and Perception</p>
<input type="hidden" name="skill" value="Athletics">
<input type="hidden" name="skill" value="Perception">
<p>You are proficient with Navigator's tools and water vehicles.</p>
<input type="hidden" name="prof[tools]" value="Navigator's tools">
<input type="hidden" name="prof[tools]" value="Water Vehicles">

<p>You start with the following equipment: a belaying pin, 50 feet of silk rope, a lucky charm, a set of common clothes, and 10 gold.</p>
<input type="hidden" name="equip[gen]" value="Belaying Pin">
<input type="hidden" name="equip[gen]" value="50 feet of silk rope">
<input type="hidden" name="equip[gen]" value="Lucky Charm">
<input type="hidden" name="equip[clothes]" value="Common Clothes">
<input type="hidden" name="equip[gold]" value="10">
<p>You gain the background feature "Ship's Passage": When you need to, you can secure free passage on
a sailing ship for yourself and your adventuring companions. You might sail on the ship you served on, or another ship you have good relations with (perhaps one captained by a former crewmate). Because you’re calling in a favor, you can’t be certain of a schedule or route that will meet your every need. Your Dungeon Master will determine how long it takes to get where you need to go. In return for your free passage, you and your companions are expected to assist the crew during the voyage.
</p>
<input type="hidden" name="features" value="Ship's Passage">