<p>You are an Soldier</p>
<input type="hidden" name="char_background" value="Soldier">
<p>You are proficient for checks in Athletics and Intimidation</p>
<input type="hidden" name="skill" value="Athletics">
<input type="hidden" name="skill" value="Intimidation">
<p>You are proficient with Gaming Sets and Land Vehicles.</p>
<input type="hidden" name="prof[tools]" value="Gaming Sets">
<input type="hidden" name="prof[tools]" value="Land Vehicles">

<p>You start with the following equipment: an insignia of rank, a trophy taken from a fallen enemy, a deck of cards, a set of common clothes, and 10 gold.</p>
<input type="hidden" name="equip[gen]" value="Insignia of Rank">
<input type="hidden" name="equip[gen]" value="Trophy">
<input type="hidden" name="equip[gen]" value="Deck of Cards">
<input type="hidden" name="equip[clothes]" value="Common Clothes">
<input type="hidden" name="equip[gold]" value="10">
<p>You gain the background feature "Military Rank": You have a military rank from your career as a soldier. Soldiers loyal to your former military organization still recognize your authority and influence, and they defer to you if they are of a lower rank. You can invoke your rank to exert influence over other soldiers and requisition simple equipment or horses for temporary use. You can also usually gain access to friendly military encampments and fortresses where your rank is recognized.

</p>
<input type="hidden" name="features" value="Military Rank">