<p>You are an Urchin</p>
<input type="hidden" name="char_background" value="Urchin">
<p>You are proficient for checks in Sleight of Hand and Stealth</p>
<input type="hidden" name="skill" value="Sleight of Hand">
<input type="hidden" name="skill" value="Stealth">
<p>You are proficient with Disguise Kits and Thieve's tools.</p>
<input type="hidden" name="prof[tools]" placeholder="Disguise Kits">
<input type="hidden" name="prof[tools]" placeholder="Thieve's Tools">

<p>You start with the following equipment: a small knife, a map of the city you grew up in, a pet mouse, a token to remember your parents by, and 10gp.</p>
<input type="hidden" name="equip[gen]" placeholder="Small Knife">
<input type="hidden" name="equip[gen]" placeholder="Token">
<input type="hidden" name="equip[gen]" placeholder="Map">
<input type="hidden" name="equip[gen]" value="Pet Mouse">
<input type="hidden" name="equip[gold]" value="10">
<p>You gain the background feature "City Secrets": You know the secret patterns and flow to cities and can find passages through the urban sprawl that others would miss. When you are not in combat, you (and companions you lead) can travel between any two locations in the city twice as fast as your speed would normally allow.
</p>
<input type="hidden" name="features" value="City Secrets">