<p>Your patron is a lord or lady of the fey, a creature of legend who holds secrets that were forgotten before the mortal races were born. This being’s motivations are often inscrutable, and sometimes whimsical, and might involve a striving for greater magical power or the settling of age-old grudges. </p>

<p> Your patron bestows upon you the Fey Presence ability to project the beguiling and fearsome presence of the fey. As an action, you can cause each creature in a 10-foot cube originating from you to make a Wisdom savingthrowagainstyourwarlockspellsaveDC.The creatures that fail their saving throws are all charmed or frightened by you (your choice) until the end ofyour next turn.Once you use this feature, you can’t use it again until you finish a short or long rest.</p>
<input type="hidden" name="features" value="Otherworldy Patron: ArchFey">
<input type="hidden" name="features" value="Fey Presense">