<p>
You have made a pact with a fiend from the lower planes of existence, a being whose aims are evil,
even if you strive against those aims. Such beings desire the corruption or destruction of all things, ultimately including you. </p>

<p>The fiend gives you the ability Dark One's Blessing: Starting at 1st level, when you reduce a hostile creature to 0 hit points, you gain temporary hit points equal to your Charisma modifier + your warlock level (minimum of 1).</p>
<input type="hidden" name="features" value="Otherworldy Patron: Fiend">
<input type="hidden" name="features" value="Dark One's Blessing">