<p>The Life Domain is available to clerics who worship gods devoted to positive energy and healing.</p>
<p>When you choose the Life Domain, the following two spells are always prepared no matter what: Bless and Cure Wounds</p>
<input type="hidden" name="features" value="Cleric Domain: Life">
<p>It also allows you to gain proficiency with heavy armor (in case you were eying that Chain Mail before when choosing equipment.)</p>
<input type="hidden" name="prof[armor]" value="Heavy Armor">
<p>Finally, you gain the ability Disciple of Life, which is triggered whenevery you cast a healing spell of first level or highter, which adds more hit points back to whoever is being healed equal to 2 + the spell's level (minimum 3)</p>
<input type="hidden" name="features" value="Disciple of Life">