<p>The Light Domain is available to clerics who worship gods devoted to light.</p>
<p>When you choose the Light Domain, the following two spells are always prepared no matter what: Burning Hands and Faerie Fire</p>
<input type="hidden" name="features" value="Cleric Domain: Light">
<p>It also allows you to gain an extra Cantrip spell, Light</p>
<input type="hidden" name="cantrips" value="Light">
<p>Finally, you gain the ability Warding Flare, which you can use as many times per day as your wisdom modifier. You regain all uses after a long rest. You can use it as a reaction when an enemy attacks you to flash bright light at them, imposing disadvantage on their attack role.</p>
<input type="hidden" name="features" value="Warding Flare">