<p>The Tempest Domain is available to clerics who worship gods of the storm, the sky, and the sea.</p>
<p>When you choose the Tempest Domain, the following two spells are always prepared no matter what: Fog Cloud and Thunderwave</p>
<input type="hidden" name="features" value="Cleric Domain: Tempest">
<p>It also allows you to gain proficiency with martial weapons and heavy armor (in case you were eying that Warhammer or Chain Mail before when choosing equipment.)</p>
<input type="hidden" name="prof[armor]" value="Heavy Armor">
<input type="hidden" name="prof[wep]" value="Martial Weapons">
<p>Finally, you gain the ability Wrath of the Storm, which allows you to use a reaction when attacked by a creature within 5 feet of you to rebuke it, dealing 2d8 lighting or thunder damage to it (your choice) on a failed saving throw, and half as much damage on a successful one. You can use this ability as much as your wisdom modifier, and you regain all uses when you finish a long rest.</p>
<input type="hidden" name="features" value="Wrath of the Storm">