<p>The Trickery Domain is available to clerics who worship trickster gods.</p>
<p>When you choose the Trickery Domain, the following two spells are always prepared no matter what: Charm Person and Disguise Self</p>
<input type="hidden" name="features" value="Cleric Domain: Trickery">
<p>It gives you the ability Blessing of the Trickster, which lets you touch a willing creature other than yourself to give it advantage on Stealth skill checks. This blessing lasts for 1 hour or until you use it again on another creature, whichever comes first. There is no limit on how many times you can use it.</p>
<input type="hidden" name="features" value="Blessing of the Trickster">