<p>The War Domain is available to clerics who worship gods of war.</p>
<p>When you choose the War Domain, the following two spells are always prepared no matter what: Divine Favor and Shield of Faith</p>
<input type="hidden" name="features" value="Cleric Domain: War">
<p>It also allows you to gain proficiency with martial weapons and heavy armor (in case you were eying that Warhammer or Chain Mail before when choosing equipment.)</p>
<input type="hidden" name="prof[armor]" value="Heavy Armor">
<input type="hidden" name="prof[wep]" value="Martial Weapons">
<p>Finally, you gain the ability War Priest, which allows you to use a bonus action to make another attack in combat. You can use this ability as much as your wisdom modifier, and you regain all uses when you finish a long rest.</p>
<input type="hidden" name="features" value="War Priest">