<p>As a Barbarian, you start with 12 hit points plus your constitution modifier.
<input type="hidden" name="char_class" value="Barbarian">
<input type="hidden" name="hit_point_max" value="12">
<p>You are proficient in light armor, medium armor, and shields.</p>
<input type="hidden" name="prof[armor]" value="Light Armor">
<input type="hidden" name="prof[armor]" value="Medium Armor">
<input type="hidden" name="prof[armor]" value="Shields">
<p>You are proficient with simple and martial weapons.</p>
<input type="hidden" name="prof[wep]" value="Simple Weapons">
<input type="hidden" name="prof[wep]" value="Martial Weapons">

<p>You are proficient in saving throws of strength and constitution.</p>
<input type="hidden" name="skill" value="str_sav">
<input type="hidden" name="skill" value="con_sav">
<p>Choose two of the following skills</p>
<select 
  ng-options="skills as skills for skills in ctrl.selectedCharClass.possible_skills track by skills"
  ng-model="ctrl.charClassSkillsSelected"
  name="skill"
  multiple>
</select>
<p>You start with the following weapons</p>
<select
  ng-options="weapon as weapon for weapon in ctrl.selectedCharClass.wep_one track by weapon"
  ng-model="ctrl.charWep1Selected"
  name="equip[wep]"
></select>
<select
  ng-options="weapon2 as weapon2 for weapon2 in ctrl.selectedCharClass.wep_two track by weapon2"
  ng-model="ctrl.charWep2Selected"
  name="equip[wep]"
></select>
<p>You also start with an explorer's pack and 4 javelins</p>
<input type="hidden" name="equip[wep]" value="Javelin(4)">
<input type="hidden" name="equip[gen]" value="Explorer's Pack">
<p>You gain the ability to rage, where when you gain benefits on rolls and gain resistances to damages twice per day. There are limitations, you can't be wearing heavy armor or cast spells</p>
<input type="hidden" name="features" value="Rage">
<p>You also gain Unarmored Defense, which allows you to make your armor class 10+ your constitution modifier + your dexterity modifier</p>
<input type="hidden" name="features", value="Unarmored Defense">