<p>As a Monk, you start with 8 hit points plus your constitution modifier.
<input type="hidden" name="char_class" value="Monk">
<input type="hidden" name="hit_point_max" value="8">
<p>You are proficient with simple weapons and short swords.</p>
<input type="hidden" name="prof[wep]" value="simple weapons">
<input type="hidden" name="prof[wep]" value="Shortswords">
<p>You are proficient in a type of Artisan tools, or musical instrument. Common Artisan's tools include: Alchemist, Brewer, Calligrapher, Carpenter, Cartographer, Cobbler, Cook, Glassblower, Jeweler, Leatherworker, Mason, Painter, Potter, Smith, Tinker, Weaver, and Woodcarver</p>
<input type="text" name="prof[tools]">

<p>You are proficient in saving throws of strength and dexterity.</p>
<input type="hidden" name="skill" value="str_sav">
<input type="hidden" name="skill" value="dex_sav">
<p>Choose two of the following skills</p>
<select 
  ng-options="skills as skills for skills in ctrl.selectedCharClass.possible_skills track by skills"
  ng-model="ctrl.charClassSkillsSelected"
  name="skill"
  multiple>
</select>
<p>You start with the following weapons</p>
<select
  ng-options="wep1 as wep1 for wep1 in ctrl.selectedCharClass.wep_one track by wep1"
  ng-model="ctrl.charWep1Selected"
  name="equip[wep]"
></select>

<p>You also start with the one of these packs</p>
<select
  ng-options="option as option for option in ctrl.selectedCharClass.opt_one track by option"
  ng-model="ctrl.charOpt1Selected"
  name="equip[gen]"
></select>

<p>You also start with 10 darts</p>
<input type="hidden" name="equip[wep]" value="10 Darts">

<p>As a monk, you have the ability Unarmored Defence, meaning while you are wearing no armor and not wielding a shield, your Armor Class is 10 + your dexterity modifier + your wisdom modifier</p>
<input type="hidden" name="features", value="Unarmored Defence">

<p>You also have the ability Martial arts, giving you a mastery of combat styles that use unarmed strikes and monk weapons, which are Shortswords and any simple weapon that doesn't have the two-handed or heavy property. You gain the following benefits while you are unarmored and wielding a monke weapon:

You can use dexterity instead of strength for attack and damage rolls. You can roll a d4 instead for an unarmed strike. You can make an extra unarmed strike as a bonus action.</p>
<input type="hidden" name="features" value="Martial Arts">