<p>As a Warlock, you start with 8 hit points plus your constitution modifier.
<input type="hidden" name="char_class" value="Warlock">
<input type="hidden" name="hit_point_max" value="8">
<p>You are proficient with Light Armor and Simple Weapons</p>
<input type="hidden" name="prof[armor]" value="Light Armor">
<input type="hidden" name="prof[wep]" value="Simple Weapons">

<p>You are proficient in saving throws of wisdom and charisma.</p>
<input type="hidden" name="skill" value="wis_sav">
<input type="hidden" name="skill" value="cha_sav">
<p>Choose two of the following skills</p>
<select 
  ng-options="skills as skills for skills in ctrl.selectedCharClass.possible_skills track by skills"
  ng-model="ctrl.charClassSkillsSelected"
  name="skill"
  multiple>
</select>

<p>You start with the following weapons</p>
<select
  ng-options="weapon as weapon for weapon in ctrl.selectedCharClass.wep_one track by weapon"
  ng-model="ctrl.charWep1Selected"
  name="equip[wep]"
></select>
<select
  ng-options="weapon as weapon for weapon in ctrl.selectedCharClass.wep_one track by weapon"
  ng-model="ctrl.charWep2Selected"
  name="equip[wep]"
></select>
<p>You can choose between a component pouch or an arcane focus</p>
<select
  ng-options="option as option for option in ctrl.selectedCharClass.opt_one track by option"
  ng-model="ctrl.charOpt1Selected"
  name="equip[gen]">
</select>

<p>You can choose between a dungeoneer's pack or an exploreers's pack</p>
<select
  ng-options="option as option for option in ctrl.selectedCharClass.opt_two track by option"
  ng-model="ctrl.charOpt1Selected"
  name="equip[gen]">


<p>You also start with leather armor, and two daggers</p>
<input type="hidden" name="equip[armor]" value="Leather Armor">
<input type="hidden" name="equip[wep]" value="Dagger(2)">
<p>Spellcasting: as a Warlock you have access to magic. You start by knowing two cantrips (of which you can cast as many times as you want) and two first level spells. Of the first level spells you know, you are only able to cast one to start, but you will regain your spells faster, as you can regain them after a short rest. You use your charisma modifier as your spellcasting ability. You are able to cast any spell you know with the ritual tag as a ritual (casting a spell as a ritual takes ten minutes to cast, but does not use up one of your slots.)</p>
<input type="hidden" name="spellcasting_ability" value="cha">
<input type="hidden" name="spell_save_dc" value="10">
<input type="hidden" name="spell_attack_bonus" value="2">
<p>Select 2 Cantrips from the list below</p>
<select
  ng-options="cantrip as cantrip for cantrip in ctrl.selectedCharClass.cantrips track by cantrip"
  ng-model="ctrl.classCantrips"
  name="cantrips"
  multiple>
</select>
<p>Select 2 1st level spells from the list below. At the bottom are spells that you can only pick if below you choose the corresponding Patron.</p>
<select
  ng-options="spell as spell for spell in ctrl.selectedCharClass.spells track by spell"
  ng-model="ctrl.classFLSpells"
  name="fLSpells"
  multiple>
</select>


<p>You also gain the Otherworldy Patron ability, which will let you choose where you get your powers from, and will influence your character as it grows, along with giving it immediate benefits.</p>
<select 
  ng-options="patron as patron.name for patron in ctrl.patrons track by patron.name"
  ng-model="ctrl.selPatron">
</select>
<p>Selected Patron: {{ctrl.selPatron.name}}</p>
<div ng-include="ctrl.selPatron.path"></div>